.popover {
    display: none;
    background-color: white;
    box-shadow: 0 5px 5px grey;
    position: absolute;
    margin-left: 180px;
    margin-top: -35px;
    width: 150px;
    border-radius: 5px;
    z-index: 1;
    font-size: 0.9rem;
    font-weight: 400;
    color: grey;
}

#text {
    width: 100%;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px;
    color: grey;
}

#container:hover .popover {
    display: block;
}

#listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listItem:hover{
    background-color: aliceblue;
    color: black;
}

#arrow {
    color: grey;
    font-family: 1rem;
}

.popover_text {
    padding: 8px;
    margin: 0;
    font-weight: 500;
}

.popover_text:hover {
    background-color: aliceblue;
}